!! Pseudo Transparency:
!
!urxvt*transparent: true
!urxvt*shading: 15
!
URxvt.termName: rxvt-unicode-256color
URxvt.scrollBar: false

!! Real Transparency:

URxvt.depth: 32
URxvt.background: rgba:1111/1111/1111/cccc

!! Fonts
!URxvt.font: -*-dina-medium-r-*-*-13-*-*-*-*-*-*-*
URxvt.font: -*-erusfont-medium-*-*-*-11-*-*-*-*-*-*-*
URxvt.boldFont:	-*-dina-bold-r-*-*-13-*-*-*-*-*-*-*
URxvt.italicFont: -*-dina-medium-i-*-*-13-*-*-*-*-*-*-*
URxvt.bolditalicFont: -*-dina-bold-i-*-*-13-*-*-*-*-*-*-*

!! Some Settings

URxvt.perl-ext:      default,url-select
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.urlLauncher:   firefox
URxvt.underlineURLs: true

! terminal colors ------------------------------------------------------------
!*background:  #111111
!*foreground:  #d4d4d4
URxvt*background:  black
URxvt*foreground:  white

!black
URxvt*color0: #191919
URxvt*color8: #505050
!red
URxvt*color1: #e9003c
URxvt*color9: #ff3c6e
!green
URxvt*color2: #9ace00
URxvt*color10: #d7f822
!yellow
URxvt*color3: #ffcc00
URxvt*color11: #ffd45f
!blue
URxvt*color4: #12aed5
URxvt*color12: #82d0e3
!magenta
URxvt*color5: #ba823c
URxvt*color13: #ba9669
!cyan
URxvt*color6: #5E7175
URxvt*color14: #A3BABF
!white
URxvt*color7: #d4d4d4
URxvt*color15: #ffffff
